<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="DEV_HOME" value="C:\logs"/>

    <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">

        <discriminator>
            <key>logFileName</key>
            <defaultValue>head0</defaultValue>
        </discriminator>

        <sift>

            <appender name="FILE-${logFileName}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/${logFileName}.log</file>

                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n
                    </Pattern>
                </encoder>

                <rollingPolicy
                        class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>logs/${logFileName}.%i.log.zip
                    </FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                </rollingPolicy>

                <triggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>

            </appender>

        </sift>
    </appender>

    <logger name="com.uday.taskprocessor" level="info" additivity="false">
        <appender-ref ref="FILE-THREAD"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-THREAD"/>
    </root>

</configuration>